Client Web App/TipezeNyumbaWebApplication/TipezeNyumbaWebApplication/Connected Services/TipezeNyumbaClientService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8083/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" />
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetUsersResult" nillable="true" type="q1:ArrayOfUserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddANewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="newUser" nillable="true" type="q2:UserDetailsToAddOrUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddANewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddANewUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="userToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetUserProfileResult" nillable="true" type="q3:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuntheticationToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuntheticationTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuntheticationTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetUserAccountStatesResult" nillable="true" type="q4:ArrayOfUserAccounState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetUserRolesResult" nillable="true" type="q5:ArrayOfUserType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSubscriptionTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSubscriptionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetUserSubscriptionTypesResult" nillable="true" type="q6:ArrayOfUserSubscriptionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="houseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetSpecificHouseResult" nillable="true" type="q7:HouseDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHousesByDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHousesByDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetAllHousesByDistrictResult" nillable="true" type="q8:ArrayOfHouseDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHousesByDateHouseAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHousesByDateHouseAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetAllHousesByDateHouseAvailableResult" nillable="true" type="q9:ArrayOfHouseDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHousesByDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHousesByDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetAllHousesByDateRangeResult" nillable="true" type="q10:ArrayOfHouseDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHousePaymentModes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHousePaymentModesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetHousePaymentModesResult" nillable="true" type="q11:ArrayOfHousePaymentMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseFenceType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseFenceTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetHouseFenceTypeResult" nillable="true" type="q12:ArrayOfHouseFenceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseForRentStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseForRentStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetHouseForRentStatesResult" nillable="true" type="q13:ArrayOfHouseForRentState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictsInMalawi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictsInMalawiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetDistrictsInMalawiResult" nillable="true" type="q14:ArrayOfDistrictInMalawi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="newHouse" nillable="true" type="q15:HouseDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAHouseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHouseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="houseDetailsFromClient" nillable="true" type="q16:HouseDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHouseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHouseDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>