Client Web App/TipezeNyumbaWebApplication/TipezeNyumbaWebApplication/Connected Services/TipezeNyumbaClientService/TipezeNyumbaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TipezeNyumbaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITipezeNyumbaService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8083/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITipezeNyumbaService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_AddANewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddANewUser" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_AddANewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddANewUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfile" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetAuntheticationToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuntheticationToken" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetAuntheticationToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuntheticationTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetUserAccountStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAccountStates" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetUserAccountStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAccountStatesResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetUserRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoles" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetUserRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetUserSubscriptionTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserSubscriptionTypes" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetUserSubscriptionTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserSubscriptionTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetSpecificHouse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecificHouse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetSpecificHouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecificHouseResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetAllHousesByDistrict_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHousesByDistrict" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetAllHousesByDistrict_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHousesByDistrictResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetAllHousesByDateHouseAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHousesByDateHouseAvailable" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetAllHousesByDateHouseAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHousesByDateHouseAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetAllHousesByDateRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHousesByDateRange" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetAllHousesByDateRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHousesByDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetHousePaymentModes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHousePaymentModes" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetHousePaymentModes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHousePaymentModesResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetHouseFenceType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseFenceType" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetHouseFenceType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseFenceTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetHouseForRentStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseForRentStates" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetHouseForRentStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseForRentStatesResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetDistrictsInMalawi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictsInMalawi" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_GetDistrictsInMalawi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictsInMalawiResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_AddAHouse_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAHouse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_AddAHouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAHouseResponse" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_UpdateHouseDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHouseDetails" />
  </wsdl:message>
  <wsdl:message name="ITipezeNyumbaService_UpdateHouseDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHouseDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITipezeNyumbaService">
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetUsers" message="tns:ITipezeNyumbaService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetUsersResponse" message="tns:ITipezeNyumbaService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddANewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/AddANewUser" message="tns:ITipezeNyumbaService_AddANewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/AddANewUserResponse" message="tns:ITipezeNyumbaService_AddANewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetUserProfile" message="tns:ITipezeNyumbaService_GetUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetUserProfileResponse" message="tns:ITipezeNyumbaService_GetUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuntheticationToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetAuntheticationToken" message="tns:ITipezeNyumbaService_GetAuntheticationToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetAuntheticationTokenResponse" message="tns:ITipezeNyumbaService_GetAuntheticationToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAccountStates">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetUserAccountStates" message="tns:ITipezeNyumbaService_GetUserAccountStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetUserAccountStatesResponse" message="tns:ITipezeNyumbaService_GetUserAccountStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetUserRoles" message="tns:ITipezeNyumbaService_GetUserRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetUserRolesResponse" message="tns:ITipezeNyumbaService_GetUserRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserSubscriptionTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetUserSubscriptionTypes" message="tns:ITipezeNyumbaService_GetUserSubscriptionTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetUserSubscriptionTypesResponse" message="tns:ITipezeNyumbaService_GetUserSubscriptionTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecificHouse">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetSpecificHouse" message="tns:ITipezeNyumbaService_GetSpecificHouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetSpecificHouseResponse" message="tns:ITipezeNyumbaService_GetSpecificHouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHousesByDistrict">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetAllHousesByDistrict" message="tns:ITipezeNyumbaService_GetAllHousesByDistrict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetAllHousesByDistrictResponse" message="tns:ITipezeNyumbaService_GetAllHousesByDistrict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHousesByDateHouseAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetAllHousesByDateHouseAvailable" message="tns:ITipezeNyumbaService_GetAllHousesByDateHouseAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetAllHousesByDateHouseAvailableResponse" message="tns:ITipezeNyumbaService_GetAllHousesByDateHouseAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHousesByDateRange">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetAllHousesByDateRange" message="tns:ITipezeNyumbaService_GetAllHousesByDateRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetAllHousesByDateRangeResponse" message="tns:ITipezeNyumbaService_GetAllHousesByDateRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHousePaymentModes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetHousePaymentModes" message="tns:ITipezeNyumbaService_GetHousePaymentModes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetHousePaymentModesResponse" message="tns:ITipezeNyumbaService_GetHousePaymentModes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseFenceType">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetHouseFenceType" message="tns:ITipezeNyumbaService_GetHouseFenceType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetHouseFenceTypeResponse" message="tns:ITipezeNyumbaService_GetHouseFenceType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseForRentStates">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetHouseForRentStates" message="tns:ITipezeNyumbaService_GetHouseForRentStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetHouseForRentStatesResponse" message="tns:ITipezeNyumbaService_GetHouseForRentStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistrictsInMalawi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetDistrictsInMalawi" message="tns:ITipezeNyumbaService_GetDistrictsInMalawi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/GetDistrictsInMalawiResponse" message="tns:ITipezeNyumbaService_GetDistrictsInMalawi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAHouse">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/AddAHouse" message="tns:ITipezeNyumbaService_AddAHouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/AddAHouseResponse" message="tns:ITipezeNyumbaService_AddAHouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHouseDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipezeNyumbaService/UpdateHouseDetails" message="tns:ITipezeNyumbaService_UpdateHouseDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipezeNyumbaService/UpdateHouseDetailsResponse" message="tns:ITipezeNyumbaService_UpdateHouseDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITipezeNyumbaService" type="tns:ITipezeNyumbaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddANewUser">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/AddANewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuntheticationToken">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetAuntheticationToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAccountStates">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetUserAccountStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserSubscriptionTypes">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetUserSubscriptionTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificHouse">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetSpecificHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHousesByDistrict">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetAllHousesByDistrict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHousesByDateHouseAvailable">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetAllHousesByDateHouseAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHousesByDateRange">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetAllHousesByDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHousePaymentModes">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetHousePaymentModes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseFenceType">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetHouseFenceType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseForRentStates">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetHouseForRentStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrictsInMalawi">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetDistrictsInMalawi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAHouse">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/AddAHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHouseDetails">
      <soap:operation soapAction="http://tempuri.org/ITipezeNyumbaService/UpdateHouseDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ITipezeNyumbaService" type="tns:ITipezeNyumbaService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITipezeNyumbaService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddANewUser">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/AddANewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuntheticationToken">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetAuntheticationToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAccountStates">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetUserAccountStates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoles">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetUserRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserSubscriptionTypes">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetUserSubscriptionTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificHouse">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetSpecificHouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHousesByDistrict">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetAllHousesByDistrict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHousesByDateHouseAvailable">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetAllHousesByDateHouseAvailable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHousesByDateRange">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetAllHousesByDateRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHousePaymentModes">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetHousePaymentModes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseFenceType">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetHouseFenceType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseForRentStates">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetHouseForRentStates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistrictsInMalawi">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/GetDistrictsInMalawi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAHouse">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/AddAHouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHouseDetails">
      <soap12:operation soapAction="http://tempuri.org/ITipezeNyumbaService/UpdateHouseDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TipezeNyumbaService">
    <wsdl:port name="BasicHttpBinding_ITipezeNyumbaService" binding="tns:BasicHttpBinding_ITipezeNyumbaService">
      <soap:address location="http://localhost:8083/TipezeNyumbaService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ITipezeNyumbaService" binding="tns:NetTcpBinding_ITipezeNyumbaService">
      <soap12:address location="net.tcp://localhost:8084/TipezeNyumbaService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8084/TipezeNyumbaService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MALSWITCH\kmatiya</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>